@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.heading {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #356fad;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.2;
  letter-spacing: 1px;
}

.headingFadeIn {
  opacity: 0;
  animation: fadeIn 0.6s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 400px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 13px;
    margin: 0;
}

.container input:focus {
  border-color: #007bff;
  outline: none;
}

.container button {
  padding: 10px;
  background-color: #4983c1;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container button:hover {
  background-color: #0056b3;
}

.container p {
  color: red;
  font-size: 13px;
  margin: 0;
}

.divider {
  font-weight: bold;
  color: #555;
  margin: 10px 0;
}
